<div class="sample"><a href="#" style="min-width: 300px;" class="btn1 st1">버튼명</a></div>
<div class="sample"><a href="#" style="min-width: 300px;" class="btn1 st1_2">버튼명</a></div>
<div class="sample"><a href="#" style="min-width: 300px;" class="btn1 st2">버튼명</a></div>
<div class="sample"><a href="#" style="min-width: 300px;" class="btn1 st4">버튼명</a></div>
<div class="sample"><a href="#" style="min-width: 300px;" class="btn1 dim">버튼명</a></div>
<div class="sample"><a href="#" style="min-width: 300px;" class="btn1 ghost1">버튼명</a></div>